on: [workflow_dispatch, push]
jobs:
  create_cruft:
    runs-on: ubuntu-latest
    steps:
    - name: Create_Staging_Directory
      run: mkdir -p ./staging
    - name: Create_File
      run: echo "the quick brown for jumped over the lazy dog!" > .staging/file.txt
    - name: Show_Contents
      run: pwd; tree
    - name: Upload_Artifact
      uses: actions/upload-artifact@v2
      with:
        name: my-artifact
        path: ./staging/
