name: Workflow tester

on: push

env:
  CUSTOM_ENV: "PROD"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: git status
        id: gitstatus
        run: git status
